body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}

/* header related styles */

.header-container {
  max-width: 1320px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/Banner\ Image.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.header-container h3 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}

.header-container h1 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  margin-top: 16px;
}

/* main related styles */

main {
  max-width: 1320px;
  margin: 0 auto;
}

/* how much discount container related styles */

.how-much-discount-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 120px 350px 120px 350px;
}

.how-much-discount-container h2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin: 0;
}

.discount-description {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 90px 0 15px 0;
}

.discount-categories {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 40px 0;
}

.how-much-discount img {
  width: 800px;
  height: 500px;
}

/* welcome banner related styles */

.welcome-banner-container {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/Vectorrr.png);
  height: 600px;
  border-radius: 16px;
  overflow: hidden;
  margin: 0 0 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
}

.welcome-banner-content {
  width: 700px;
  padding-left: 100px;
}

.welcome-banner-content h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding: 0;
  margin: 0;
}

.welcome-banner-content p {
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 32px 0 24px 0;
  margin: 0;
}

.welcome-banner-content h4 {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-left: 8px;
}

/* schedule related styles */

.schedule-container {
  height: 480px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  padding: 100px 300px 120px 300px;
}

.schedule-pdt {
  color: #f00;
}

.btn-primary {
  height: 70px;
  width: 200px;
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}

/* Coming soon Container related styles*/

.coming-soon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 733px;
}

.coming-soon-offer {
  color: #f00;
  text-align: start;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.coming-soon-title {
  text-align: start;
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}

.coming-soon-description {
  text-align: start;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.circle-img-container {
  height: 500px;
  width: 500px;
}

.coming-soon-circle-photo {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 10px solid #e74c3c; /* Border color: Alizarin Crimson */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 20px; /* Padding between image and border */
}

/* holidays sale container related styles */

.holidays-sale-container {
  height: 1033px;
}

.holiday-sale-content {
  text-align: center;
}

.holiday-sale-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
}

.holiday-sale-title2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  padding: 16px 0 28px 0;
}

.holidays {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

.holiday-sale-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  padding: 0;
}

.holiday-sale-photos {
  height: 733px;
  margin-top: 60px;
  background-image: url(../images/Group\ 75.png),
    url(../images/Rectangle\ 2.png), url(../images/Group\ 44.png),
    url(../images/Rectangle\ 1.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 0 20px, bottom center, 750px 100px, 900px 70px;
  background-size: auto;
}

/* Portfolio section related styles */

.portfolio-container {
  margin: 300px 0 120px 0;
}

.photo-row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 12px;
}

.photo-row img {
  width: 424px;
  height: 450px;
}

/* Subscribe box related styles */
.subscribe-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

.subscribe-box input[type='email'] {
  display: inline;
  margin-bottom: 25px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  width: 648px;
  height: 72px;
  flex-shrink: 0;
  background: #fff;
  outline: none;
}

.btn-subscribe {
  width: 210px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}

.first-part,
.third-part,
.second-part {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

hr {
  background: rgba(255, 255, 255, 0.15);
  height: 1px;
}
footer {
  background: #070211;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
  height: 600px;
}
